project_id          = "my-gcp-project-id"
region              = "us-central1"
zone                = "us-central1-a"
machine_type        = "e2-small"
service_account_email = "llm-deploy-sa@llm-deploy-499913.iam.gserviceaccount.com"
state_bucket        = "my-terraform-state-bucket"
